.card {
  max-width: 350px;
}

header {
  text-align: center;
}

footer {
  text-align: end;
}

footer::after {
  content: url(/icons/star.svg);
  padding-left: 5px;
}

.genres {
  font-size: medium;
  text-align: center;
}
