.searchBar {
  height: 50px;
  width: 400px;
}

.searchTerm {
  height: 50px !important;
}

button.searchButton,
.searchTerm {
  margin-top: 12px;
}

.searchContainer {
  position: relative;
  bottom: 12px;
}

.resList h6 {
  margin-bottom: 0px;
  height: 35px;
  text-align: center;
}

.resList {
  width: 400px;
  max-height: 600px;
  position: relative;
  display: block !important;
  background-color: hsl(207, 29%, 13%);
  left: 10px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.resImg {
  position: relative;
  top: 15px;
  left: 15px;
  width: 80px;
}

.resInfo {
  position: relative;
  left: 105px;
  bottom: 105px;
  color: whitesmoke;
}

.resInfo span {
  width: 300px;
  display: inline-block;
}

.resRateing {
  font-size: medium;
}

.animeResCard,
.mangaResCard {
  height: 150px;
}

h5 {
  margin-top: 50px;
  text-align: center;
}

.animeResCard:hover,
.mangaResCard:hover {
  background-color: hsl(207, 29%, 30%);
  cursor: pointer;
}
