.searchButton {
  height: 50px;
  width: 50px;
  z-index: 1;
  cursor: pointer;
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.searchBar {
  display: flex;
  height: 50px;
  padding-bottom: 20px;
  width: 600px;
}

.searchTerm {
  height: 50px !important;
  width: 400px !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button.searchButton,
.searchTerm {
  margin-top: 12px;
}

.searchContainer {
  position: relative;
  bottom: 12px;
}

.suggestionCard {
  width: 400px;
  text-align: center;
}
